<section id="bookInfo">
<ul>
    <li>

        <img src=<%= book.image %>>
        <h2><%= book.title %></h2>
        <h2><%= book.author %></h2>
        <p><%= book.description %></p>
        <p><%= book.isbn %></p>
    </li>
</ul>
    
</section>