<section>
    <img src=<%= book.image %>>
    <h2><%= book.title %></h2>
    <h2><%= book.author %></h2>
    <p><%= book.description %></p>
    <p><%= book.isbn %></p>
    <h3><a href="http://localhost:5050/">Return to Home Page</a></h3>
    <!-- <h3><a href="http://localhost:5050/searches">Return to Search</a></h3> -->

</section>