<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        
       <p>Total Books in Colloection <%= collection.length %> </p> 
        <table>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Image URL</th>
            <th>Description</th>
        <% collection.forEach(value => { %>
            <tr>
                <td><%= value.author %></td>
                <td><%= value.title %></td>
                <td><%= value.isbn %></td>
                <td><a href=<%= value.image %> target="_blank">Image Link</a></td>
                <td><%= value.description %></td>
                <td><a href="http://localhost:5050/books/<%= value.id %>">View More Details</a></td>
            </tr>
                
            <% }) %>
            </table>
    </main>
</body>
</html>